
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

    <head>
        <title>Game center</title>
        <script src="~/js/lib/jquery.min.js"></script>
        <script src="~/js/lib/angular.min.js"></script>
        <script src="~/js/lib/angular-route.min.js"></script>
        <script src="~/js/Utils/signalrLoader.js?v=0.0.1"></script>
    </head>
    <body ng-app="app">
        <div ng-view class="container">
        </div>

        @* //TODO: return always new scripts *@
        <script type="text/javascript" src="~/js/bundle/app.js"></script>
    </body>
</html>