
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

    <head>
        <title>Game center</title>
        <script src="~/js/lib/angular.min.js"></script>
        <script src="~/js/lib/angular-route.min.js"></script>
        <script src="~/js/Utils/signalrLoader.js"></script>
    </head>
    <body ng-app="app">
        <div ng-view class="container">
        </div>

        <script src="~/js/app/controllers/rootController.js"></script>
        <script src="~/js/app/controllers/loginController.js"></script>
    <script src="~/js/app/Constants/Routes.js"></script>
        <script src="~/js/app/interceptors/responseObserver.js"></script>
        <script src="~/js/app/app.js"></script>

    </body>
</html>